<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>DetailComputer</title>
</head>
<body>
<h3>View Computer</h3>
<p>
    <a th:href="@{/computers}">
        Back to computer list
    </a>
</p>
<div id="detail">
    <div class="present-detail">
        <label>Code:</label>
        <label th:text="${computer.code}"></label>
    </div>
    <div class="present-detail">
        <label>Name:</label>
        <label th:text="${computer.name}"></label>
    </div>
    <div class="present-detail">
        <label>Price:</label>
        <label th:text="${computer.producer}"></label>
    </div>
    <div class="present-detail">
        <img th:src="@{'/image/'+${computer.getImg()}}" width="150" alt="">
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>