<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/category">Your task</a>
</p>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Amount</td>
        <td>Add To Category</td>
    </tr>
    <th:block th:each="task:${tasks}">
        <tr>
            <td th:text="${task.name}"></td>
            <td th:text="${task.price}"></td>
            <td><a th:href="@{/add/__${task.id}__(action='list')}">Add To Category</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>